@tailwind base;
@tailwind components;
@tailwind utilities;


.caption {
    @apply antialiased hover:subpixel-antialiased pt-1 text-xs text-center italic;
}

.shape {
    @apply text-sm
    block
    w-full
    mt-1
    border-gray-300
    rounded-md
    shadow-sm
    focus:border-indigo-300
    focus:ring
    focus:ring-indigo-200
    focus:ring-opacity-50
}